undefined * {
    line-height: 1
}

*,
*::before,
*::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

a {
    color: inherit;
    text-decoration: inherit
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.container {
    max-width: 1140px;
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1
}

body {
    font-size: 0;
    font-family: "Nunito Sans"
}

html {
    font-size: 100%
}

input,
textarea,
select {
    min-height: 20px;
    border: 0;
    font-size: 16px
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0.1rem 0;
    width: 100%
}

.lg-text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

span {
    display: block
}

.location-elem-32::-moz-placeholder {
    color: #0000004c
}

.location-elem-32::placeholder {
    color: #0000004c
}

.location-elem-32:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.location-elem-35::-moz-placeholder {
    color: #0000004c
}

.location-elem-35::placeholder {
    color: #0000004c
}

.location-elem-35:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.location-elem-13::-moz-placeholder {
    color: #0000004c
}

.location-elem-13::placeholder {
    color: #0000004c
}

.location-elem-13:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.location-elem-22::-moz-placeholder {
    color: #0000004c
}

.location-elem-22::placeholder {
    color: #0000004c
}

.location-elem-22:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.location-elem-25::-moz-placeholder {
    color: #0000004c
}

.location-elem-25::placeholder {
    color: #0000004c
}

.location-elem-25:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.location-elem-45:hover {
    background-color: #333
}

.location-elem-49:hover {
    color: #000000
}

.location-elem-56:hover {
    color: #000000
}

.location-elem-5 {
    padding: 20px 16px 20px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e4823ff;
    z-index: 1200;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    display: flex;
    max-width: 1980px;
    margin-right: auto
}

.location-elem-4 {
    justify-content: space-between;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 1200px;
    position: relative
}

.location-elem-3 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    background-image: url(https://res.cloudinary.com/dbyioi2qq/q_auto/v1688108670/static/component-126-2svg_1688108561_26947.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    border-width: 0px 0px 0px 0px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
    height: 15px;
    width: 35px;
    display: none;
    position: relative
}

.location-elem-2 {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.location-elem-1 {
    font-family: Fraunces;
    font-size: 25px;
    font-weight: 700;
    color: #ffffffff;
    line-height: 35px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-6 {
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100px;
    min-width: 20px;
    position: relative;
    display: flex
}

.location-elem-7 {
    padding: 64px 0px 64px 0px;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    min-height: 100vh;
    position: relative
}

.location-elem-9 {
    font-family: Kumbh Sans;
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    line-height: 60px;
    opacity: 100%;
    z-index: 1;
    width: 85%;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 1200px
}

.location-elem-8 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    -moz-column-gap: 62px;
         column-gap: 62px;
    row-gap: 42px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 85%;
    display: flex;
    max-width: 1200px;
    position: relative
}

.location-elem-44 {
    padding: 0px 0px 0px 0px;
    -moz-column-gap: 62px;
         column-gap: 62px;
    row-gap: 42px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 1200px;
    position: relative
}

.location-elem-30 {
    flex-direction: column;
    row-gap: 12px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 40%;
    display: flex;
    position: relative
}

.location-elem-28 {
    font-family: Kumbh Sans;
    font-size: 34px;
    font-weight: 600;
    color: #000000;
    line-height: 44px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-29 {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    max-width: 700px;
    position: relative
}

.location-elem-43 {
    flex-direction: column;
    row-gap: 32px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 70%;
    display: flex;
    position: relative
}

.location-elem-42 {
    padding: 0px 0px 32px 0px;
    flex-direction: column;
    row-gap: 12px;
    border-width: 0px 0px 1px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #AAA transparent;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100.27624309392264%;
    display: flex;
    position: relative
}

.location-elem-31 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-41 {
    flex-direction: row;
    -moz-column-gap: 14px;
         column-gap: 14px;
    row-gap: 14px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-40 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 30%;
    display: flex;
    position: relative
}

.location-elem-38 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-39 {
    padding: 32px 16px 8px 14px;
    font-size: 16px;
    font-weight: 400;
    font-family: Kumbh Sans;
    color: #000000;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 0px 0px 0px 0px;
    border-color: #000000 #000000 #000000 #000000;
    z-index: 1;
    height: auto;
    width: 100%;
    display: block;
    max-width: none;
    min-width: 30px;
    position: relative
}

.location-elem-34 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-33 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-32 {
    padding: 32px 16px 8px 16px;
    font-family: Kumbh Sans;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #00000000 #00000000 #00000000 #00000000;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.location-elem-37 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-36 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-35 {
    padding: 32px 16px 8px 16px;
    font-family: Kumbh Sans;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #00000000 #00000000 #00000000 #00000000;
    z-index: 1;
    width: 98.67549668874173%;
    height: auto;
    display: block;
    position: relative
}

.location-elem-18 {
    -moz-column-gap: 62px;
         column-gap: 62px;
    row-gap: 42px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 1200px;
    position: relative
}

.location-elem-12 {
    flex-direction: column;
    row-gap: 12px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 40%;
    display: flex;
    position: relative
}

.location-elem-10 {
    font-family: Kumbh Sans;
    font-size: 34px;
    font-weight: 600;
    color: #000000;
    line-height: 44px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-11 {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    max-width: 700px;
    position: relative
}

.location-elem-17 {
    flex-direction: column;
    row-gap: 32px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 70%;
    display: flex;
    position: relative
}

.location-elem-16 {
    padding: 0px 0px 32px 0px;
    flex-direction: column;
    row-gap: 12px;
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #AAA transparent;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-15 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-14 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-13 {
    padding: 32px 16px 8px 16px;
    font-family: Kumbh Sans;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #00000000 #00000000 #00000000 #00000000;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.location-elem-20 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-19 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-21 {
    padding: 32px 16px 8px 14px;
    font-size: 16px;
    font-weight: 400;
    font-family: Kumbh Sans;
    color: #000000;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 0px 0px 0px 0px;
    border-color: #000000 #000000 #000000 #000000;
    z-index: 1;
    height: auto;
    width: 100%;
    display: block;
    max-width: none;
    min-width: 30px;
    position: relative
}

.location-elem-24 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-23 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-22 {
    padding: 32px 16px 8px 16px;
    font-family: Kumbh Sans;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #00000000 #00000000 #00000000 #00000000;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.location-elem-27 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-color: #999 #999 #999 #999;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-26 {
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 16px;
    top: 10px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: absolute
}

.location-elem-25 {
    padding: 32px 16px 8px 16px;
    font-family: Kumbh Sans;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #00000000 #00000000 #00000000 #00000000;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative
}

.location-elem-46 {
    padding: 32px 0px 0px 0px;
    z-index: 1;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative
}

.location-elem-45 {
    padding: 12px 32px 12px 32px;
    background-color: #000000ff;
    border-radius: 16px 16px 16px 16px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    color: #EFEFEF;
    line-height: 26px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.location-elem-66 {
    padding: 16px 0px 16px 0px;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    position: relative
}

.location-elem-47 {
    -o-object-fit: cover;
       object-fit: cover;
    width: -moz-fit-content;
    width: fit-content;
    height: 152px;
    position: relative
}

.location-elem-65 {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.location-elem-54 {
    padding: 0px 32px 0px 32px;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.location-elem-53 {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.location-elem-48 {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-49 {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-50 {
    align-items: stretch;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-51 {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-52 {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-64 {
    padding: 0px 32px 0px 32px;
    flex-direction: column;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.location-elem-58 {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.location-elem-55 {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 28px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-56 {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-57 {
    align-items: stretch;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 24px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.location-elem-63 {
    -moz-column-gap: 12px;
         column-gap: 12px;
    row-gap: 4px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    position: relative
}

.location-elem-59 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 22px;
    height: 22px;
    position: relative
}

.location-elem-60 {
    padding: 2px 2px 2px 2px;
    -o-object-fit: contain;
       object-fit: contain;
    width: 22px;
    height: 22px;
    position: relative
}

.location-elem-61 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 22px;
    height: 22px;
    position: relative
}

.location-elem-62 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 22px;
    height: 22px;
    position: relative
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400
}

.vehicle-info-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    
}

.vehicle-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Ensures each column has equal width */
}

.vehicle-info-table th, .vehicle-info-table td {
    padding: 10px;
    border: 1px solid #dee2e6; /* Adds a light border for definition */
    text-align: left; /* Aligns text to the left within cells */
}

.vehicle-info-table th {
    background-color: #e9ecef; /* Light gray background for headers */
    color: #495057; /* Dark gray text color for contrast */
}

.vehicle-info-table td {
    background-color: #ffffff; /* White background for data cells */
}

.submit-btn {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.submit-btn:hover {
    background-color: #0056b3; /* Darker blue on hover for visual feedback */
}
